# for ex
/_build
/cover
/deps
erl_crash.dump
*.ez
*.beam

# for ansible
ansible/hosts
ansible/*.retry
ansible/roles/network/files/ssh_id_rsa
ansible/roles/network/files/ssh_authorized_keys

# for tsung
tsung/logs/*

# for etc
.DS_Store
*.swp
*~

